.social_container {
    display: flex;
    justify-content: space-between;
    border:black;
}
.social_tag
{
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: 20px;
}
.social_box {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  
.social_box img {

    height: 100%;
    width: 5%;
    margin: 20px;
    transition: transform 0.2s ease-in-out;
    border-radius: 0%;
}

.social_box img:hover {
    transform: scale(1.1);

}